-- Script para verificar dados no Supabase

-- Script para verificar e corrigir dados dos estudos bíblicos
-- Execute este script no SQL Editor do Supabase

-- 1. Verificar se a tabela bible_studies existe e tem dados
SELECT 'Verificando tabela bible_studies:' as info;
SELECT COUNT(*) as total_studies FROM bible_studies;
SELECT * FROM bible_studies;

-- 2. Verificar se a tabela bible_study_chapters existe e tem dados
SELECT 'Verificando tabela bible_study_chapters:' as info;
SELECT COUNT(*) as total_chapters FROM bible_study_chapters;
SELECT * FROM bible_study_chapters;

-- 3. Verificar se há estudos ativos
SELECT 'Estudos ativos:' as info;
SELECT id, title, is_active, total_chapters FROM bible_studies WHERE is_active = true;

-- 4. Verificar capítulos por estudo
SELECT 'Capítulos por estudo:' as info;
SELECT 
    bs.title as study_title,
    COUNT(bsc.id) as chapters_count,
    bs.total_chapters as expected_chapters
FROM bible_studies bs
LEFT JOIN bible_study_chapters bsc ON bs.id = bsc.study_id
WHERE bs.is_active = true
GROUP BY bs.id, bs.title, bs.total_chapters;

-- 5. Se não houver dados, inserir o estudo "Vencendo a Ansiedade com Fé"
-- Primeiro, vamos limpar dados existentes para evitar duplicação
DELETE FROM bible_study_chapters WHERE study_id IN (SELECT id FROM bible_studies WHERE title LIKE '%Ansiedade%');
DELETE FROM bible_studies WHERE title LIKE '%Ansiedade%';

-- Inserir o estudo
INSERT INTO bible_studies (
    id,
    title,
    description,
    total_chapters,
    is_active,
    created_at,
    updated_at
) VALUES (
    gen_random_uuid(),
    'Vencendo a Ansiedade com Fé',
    'Um estudo bíblico de 7 capítulos que combina versículos poderosos, reflexões profundas e aplicações práticas para superar a ansiedade através da fé em Deus.',
    7,
    true,
    NOW(),
    NOW()
) RETURNING id;

-- 6. Inserir os capítulos do estudo
-- Capítulo 1

-- Capítulo 2

-- Capítulo 3

-- Capítulo 4

-- Capítulo 5

-- Capítulo 6

-- Capítulo 7

-- 7. Verificar se os dados foram inseridos corretamente
SELECT 'Verificação final:' as info;
SELECT 
    bs.title,
    COUNT(bsc.id) as chapters_count
FROM bible_studies bs
LEFT JOIN bible_study_chapters bsc ON bs.id = bsc.study_id
WHERE bs.title = 'Vencendo a Ansiedade com Fé'
GROUP BY bs.id, bs.title;
